@import './reset';

@media screen and(min-width:768px){
	.menu{
		.menu-list{
			display: flex;
			li{
				flex: 1 1 0;
			}
			li:hover{
			}
		}
	}
	.container-1{
		display:flex;
		/*
		align-items:flex-start;
		align-items:flex-end;
		align-items:center;
		flex-direction:column;
		*/
	}
	
	.container-2{
		display:flex;  
		/*
		justify-content:flex-start;
		justify-content:flex-end;
		justify-content:center;
		justify-content:space-around;
		*/
		justify-content:space-between;
	}
}

.main{
	max-width: 100%;
	margin: 0 auto;
	.menu{
		background: #333;
		.menu-list{
			text-align:center;			
			background: green;
			list-style-type: none;
			padding: 0;
			li{
				text-decoration: none;
				color: white;
				padding: 10px;
				display: block;
				flex: 1;
				a{
					color: white;
					text-decoration: none;
					display: block;
				}
			}
			li:hover{
				background: red;
			}
		}
	}
	.container-3{
		display:flex;  
		flex-wrap:wrap;
		justify-content:space-between;
	}
	
	.container-1 div, .container-2 div, .container-3 div{
		border:1px #ccc solid;
		padding:10px;
	}
	
	.box-1{
		flex:2;
		order:2;
	}
	
	.box-2{
		flex:1;
		order:1;
	}
	
	.box-3{
		flex:1;
		order: 3;
	}
	
	.container-2-box{
		flex-basis: 27%;  
	}
	
	.container-3-box{
		flex-basis:12%;
	}
}


// flex: (grow)(shrink)(basis)
// justify-content: (main axis)
// align-itens: (cross axis)

/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
// @media screen and (min-width: 768px) {
// 
/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}