/**
* html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
* Richard Clark (http://richclarkdesign.com)
* http://cssreset.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@media screen and (min-width: 768px) {
  .menu .menu-list {
    display: flex; }
    .menu .menu-list li {
      flex: 1 1 0; }
  .container-1 {
    display: flex;
    /*
		align-items:flex-start;
		align-items:flex-end;
		align-items:center;
		flex-direction:column;
		*/ }
  .container-2 {
    display: flex;
    /*
		justify-content:flex-start;
		justify-content:flex-end;
		justify-content:center;
		justify-content:space-around;
		*/
    justify-content: space-between; } }

.main {
  max-width: 100%;
  margin: 0 auto; }
  .main .menu {
    background: #333; }
    .main .menu .menu-list {
      text-align: center;
      background: green;
      list-style-type: none;
      padding: 0; }
      .main .menu .menu-list li {
        text-decoration: none;
        color: white;
        padding: 10px;
        display: block;
        flex: 1; }
        .main .menu .menu-list li a {
          color: white;
          text-decoration: none;
          display: block; }
      .main .menu .menu-list li:hover {
        background: red; }
  .main .container-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .main .container-1 div, .main .container-2 div, .main .container-3 div {
    border: 1px #ccc solid;
    padding: 10px; }
  .main .box-1 {
    flex: 2;
    order: 2; }
  .main .box-2 {
    flex: 1;
    order: 1; }
  .main .box-3 {
    flex: 1;
    order: 3; }
  .main .container-2-box {
    flex-basis: 27%; }
  .main .container-3-box {
    flex-basis: 12%; }

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
